.margin20p{
    margin: 20px;
}

.marginleft15p{
    margin-left: 15px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
  padding-top: 5px;
}

body > .container {
  padding: 60px 15px 0;
}

a.logoff {
  color: #333333;
}

